.FormBox {
  margin: 5% 15% 10% 15%;
  width: 70%;
  text-align: center;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);

}
.title {
  display:inline-block;
  font-size: 1.4rem;
  margin-bottom:5%;
}
.FormContainer {
  widows: 80%;
  padding: 15% 0;
  margin: 0 10%;
  margin-top: 20px;
}

.TextBox{
  width: 40%;
  padding: 3% 10%;
  margin: 1% 20%;
}

input[type=submit] {
  width: 40%;
  padding: 3% 10%;
  margin-top: 10%;
  background: #581078;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}